body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: 'Roboto'
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
   
  }
  
  .modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  